@import url(font.css);
@import url(reset.css);

body {
	font-size: 18px;
	color: #37393F;
	line-height: 1.27;
}

.bloktwo {
	max-width: 716px;
	margin: 0 auto;
}

.textus {
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 600;
	max-width: 692px;
	margin-bottom: 10px;
}

.textproactively {
	color: #6B77E5;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 600;
	max-width: 692px;
	margin: 0 0 12px 0;
}

.text {
	margin: 0 0 42px 0;
	color: #7D7D7D;
	font-family: 'Inter', sans-serif;
	line-height: 1.46;
	max-width: 692px;

}

.ttext {
	margin: 0px 0px 40px 0px;
	color: #7D7D7D;
	font-family: 'Inter', sans-serif;
	line-height: 1.46;
	max-width: 692px;

}

.people {
	max-width: 716px;
	margin: 0px 0px 37px 0px;

}


.notebook {
	width: 399px;
	margin: 0px 28px 0px 0px;
}

.listlist {
	width: 332px;
}

.laptext {
	display: flex;
}

.textitem {
	color: #37393F;
	font-family: Poppins;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 15px;
}

.textitemlist {
	color: #40DDB6;
	font-family: Poppins;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 24px;
}

.list {
	color: #7D7D7D;
	font-family: Inter;
	font-size: 18px;
	line-height: normal;
	margin-bottom: 34px;
}

.textwhat {
	color: #D06B00;
	font-family: Inter;
	font-size: 28px;
	line-height: normal;
	margin: 20px 0px 13px 0px;
}

.textwe {
	color: #0E333D;
	font-family: DM Serif Text;
	font-size: 59px;
	line-height: 1.5;
	margin: 0px 0px 25px 0px;
}

.texttext {
	color: #474747;
	font-family: Inter;
	font-size: 20px;
	line-height: 1.8;
	margin: 0 38px 20px 0;
}

.jewerlyone {
	height: 518px;
	margin-right: 20px;
}

.jewerlytwo {
	height: 518px;
}

.bloktext {
	max-width: 610px;

}

.blokone {
	display: flex;
	height: 518px;
	justify-content: center;



}

.img-test-2 {
	width: 100%;
}

.text-test-1 {
	background-color: red;
	overflow: auto;
	width: 400px;
	height: 400px;

}

.text-test-2 {
	background-color: #6B77E5;
	overflow: scroll;
	width: 400px;
	height: 400px;
}

.text-test-3 {
	background-color: #37ca20;
	overflow: hidden;
	width: 400px;
	height: 400px;
}

.img-test-1 {
	width: 50%;
	max-width: 1000px;
}

.span-test {
	display: inline-block;
	width: 600px;
}

.span-test2 {
	display: none;
	width: 600px;
}